.git
.gitignore
.github

.venv
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.ruff_cache
.ipynb_checkpoints

.env
.env.*

artifacts
logs
runs
mlruns
tensorboard

data/raw
data/interim
data/external
data/processed

notebooks
docs
tests
